# Ignorar dependências
node_modules/
Auth/
Pedidos/
# Ignorar cache do WhatsApp Web JS
.wwebjs_cache/

# Ignorar diretório de usuários
user/

# Ignorar variáveis de ambiente
.env

# Ignorar logs e arquivos temporários
*.log
*.tmp
